@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <p>This is a website for the CPSC1517 StarTED Assignment and its deliverables. Navigate to each page through the header.</a></p>
    <h4>Devliverables</h4>
    <p>
        Deliverable 1: <br /> The project is set up to handle the appropriate razor pages, including the CRUD and Query pages. With the use of reverse engineering, the entities for Club and Employee are created (for this specific scenario). Styles are added to the layout and index pages. 
    </p>
    <p>
        Deliverable 2: <br /> 
        On the Query page, a table is displayed with multiple rows of data related to the Club and Employee tables. The page lets you easily navigate the the CRUD page to create, update or delete data from the table.  
    </p>
    <p>
        Deliverable 3: <br />
        The CRUD page is created to allow the user to insert new rows of data, update an existing row, delete a row or cancel editing the table. It may or may not include a search function depending on the amount of data stored in the Clubs and Employees tables.
    </p>
    <br />
    <h4>Known Bugs</h4>
    <p>None yet!</p>
    <br />
    <h4>Entity Relationship Diagram</h4>
    <img src="/img/A02.png" />
    <br />
    <h4>Site Styling Decision</h4>
    <p>I used <a href="https://raj457036.github.io/attriCSS/templates/lightfairy-pink.html#">AttriCSS (Light Fairy Pink)</a> to style this website.</p><br />
</div>
